#wide-image-frame {
    display: flex;
    position: relative;
    width: 1050px;
    right: 0px;
}

#image-frame {
    width: 350px;
    height: 350px;
    border: solid;
    position: relative;
    left: calc(50vw - 175px);
    overflow: hidden;
}

img {
    position: relative;
    float: left;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: lightgray;
    border-radius: 50%;
}

#navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}